:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin:0;
    padding: 0;

    font-family: Roboto, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #849d8f;
    color: #ffffff;
    font-weight: normal;
    min-width: 1250px;
    line-height:24px;
    }


a {
    color:#ffffff;
 }

 .general:hover,
.general:active {
   color:#ffbc9e;
 }

.navigation a {

    font-size: 16px;
    font-weight:bold;
    color:inherit;
    line-height:18px;
    text-decoration-color:#a5bcb0;
  }

.sub-menu li:first-child a {

     font-size: 14px;
     font-weight:bold;
     color: #000000;
}

.sub-menu li:first-child {
     border-bottom: 2px solid #d1d0ce;

}

.navigation > li:hover .catalog {

     color:#333333;
}

.navigation li {
  list-style: none;

}

.navigation > li:hover .catalog {

    background-color: #f8f7f4;
    border-radius: 20px 20px;
}

.navigation .sub-menu {
       background-color: #f8f7f4;
       border-radius: 5px 5px;
}

.sub-menu li:hover a:not(.current) {
       background-color: #fbded7;
}



.sub-menu li:active a {
       background-color: #f6b5a5;
}

.sub-menu .current, .current {
       background-color: #d07058;
       color: #ffffff;
}

.current {
       border-radius: 20px;

}

.sub-menu a {

       color: #000000;
       text-decoration: none;
       font-size: 14px;
       font-weight: normal;
       line-height: 16px;
}


.user-remember a {

        font-size: 13px;
        font-weight: normal;
        color: #323232;
        line-height: 24px;
}

.user-remember a:hover,
.user-remember a:active,
a.serving:hover,
a.serving:active {
  color:#e84d37
}

.user-block {
        background-color: #fefefe;
        width: 277px;
        border-radius: 5px;
        box-shadow: 2px 4px 2px 4px (0,0,0,0.2);
}

.basket-form {
       background-color:#f8f7f4;

}

.basket-form table td {
       font-size: 13px;
       font-weight:normal;
       color:#323232;
       line-height: 16px;
}

.basket-amount {
       font-size: 15px;
       font-weight: bold;
       line-height: 18px;
       color:#323232;
       text-align: right;
}

.basket-price {
        color:#ffffff;
}



.btn-user {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    line-height: 16px;

}

.btn-user.login {

    background-color: #a1b4a9;
    border-radius: 30px;

    background-image: url("img/enter.svg");
    background-size: 20px 19px;
    background-position: 25% 48%;
    background-repeat: no-repeat;
 }

.btn-user.basket {

    background-color: #abc1b5;
    border-radius: 30px;

    background-image: url("img/basket.svg");
    background-position: 22% 50%;
    background-repeat: no-repeat;
    background-size: 21px 20px;
}

.btn-user.search {
    background-color:#a1b5aa;
    border-radius: 50% 50%;

    background-image: url("img/lupa.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:17px 17px;
}

.btn-user:hover {
    background-color:#f8f7f4;
    color:#323232;
}

.btn-user.basket:hover {
    background-color:#f7f6f3;
    background-image: url("img/basket-red.svg");
    background-position: 22% 50%;
    background-repeat: no-repeat;
    background-size: 21px 20px;

}

.btn-user.search:hover {
    background-image: url("img/loupa-hover.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:17px 17px;

}

.btn-user.login  {
    background-image: url("img/enter-hover.png");
    background-size: 20px 19px;
    background-position: 25% 48%;
    background-repeat: no-repeat;

}

.search-form {
     background-color: #f8f7f4;
     width: 341px;
}

.search-form-text:placeholder {

     font-size: 14px;
     font-weight: normal;
     line-height: 24px;
}

input [type="text"],
input [type="password"],
input [type="email"] {
    color: #999999;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;

}

.spam-field {
     font-size: 16px;
     font-weight: normal;
     color: #999999;
     line-height: 24px;
     border-radius: 5px 5px;
}

.feedback-field {
     font-size: 16px;
     font-weight: bold;
     color: #323232;
     background-color: #ffffff;
     line-height: 24px;
     border-radius: 5px;
     width: 428px;
}

.feedback-form {
    font-size: 24px;
    font-weight: normal;
    color: #323232;
    background-color: #f8f7f4;
    line-height: 28px;
    border-radius: 10px;
    width: 477px;
}

.feedback-field::placeholder {
     font-weight: normal;
     color: #999999;
}

.feedback-field:hover {

    border: 3px solid #c7c6c5;

}

.feedback-field:focus {

    border: 3px solid #8fbdec;
}

.main-adress{
    font-size: 14px;
    font-weight:normal;
    line-height: 20px;
    color: #323232;
    background-color: #fdfefe;
    width: 302px;
}
.main-adress b {

    font-size: 18px;
    font-weight:bold;
    color: #323232;
    line-height: 24px;
}

.phone {

    font-size: 18px;
    font-weight:bold;
    color: #323232;
}

.btn {

    font-size: 18px;
    font-weight:bold;
    line-height: 24px;

    background-image: linear-gradient(#e1613e, #d84732);
    text-decoration: none;
    color:#ffffff;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    border-radius: 30px;

}

.btn-feedback {
    color:#ffffff;
    display: inline-block;
}
.btn:hover {
     background-image: linear-gradient(#f48568, #ed715f);
     color: #ffffff;

}

.btn:active {
     background-image: linear-gradient(#d84732, #e1603e);
     box-shadow: 2px -2px 4px 0px rgba(0,0,0,0.5);
      color: #d8e0db;
}

.btn.wish {

    background-image: linear-gradient(#f16844, #df5236, #c83725);
}

.btn.wish:hover {

    background-image: linear-gradient(#f58669, #f07a63, #ec6f5e);
    color:#fefefe;
}

.btn.wish:active {

    background-image: linear-gradient(#d74632, #db5338, #e1613e);
    color:#fceeec;
}



.logo-contact {

      font-size: 14px;
      font-weight:bold;
      color:inherit;
      line-height: 16px;

}

.logo-contact a {

      font-size: 22px;
      font-weight:bold;
      color:inherit;
      line-height: 24px;
}

.slider-ice {

      font-size: 60px;
      font-weight:bold;
      color:inherit;
      line-height: 60,35px;
      text-align: center;
}

.slider-btn {

    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
}

.slider-controls label {

    background-color: #849d8f;
    border: 3px solid #ffffff;
    border-radius: 50%;

    transition: background-color 0.2s;
    cursor: pointer;
}

.slider-controls label:hover {

    background-color: #b2c1b7;
    border: 3px solid #fdfdfc;

}

.slider-controls label:active  {

    background-color: #ffffff;
  }


  .lime {
      background: url("img/ice%202.png") no-repeat;
       width:1045px;
      height: 881px;

  }

  .raspberry {
      background: url("img/ice%201.png") no-repeat;
       width:1045px;
      height: 881px;

  }
  .strawberry {
      background: url("img/ice%203.png") no-repeat;
        width:1045px;
      height: 881px;

  }

.content-left {
    background: url("img/raspberry-fon.jpg") no-repeat;
    border-radius: 15px;
}

.content-right {

    background: url("img/choco-fon.jpg") no-repeat;
    border-radius: 15px;
}

.content h2,
.main h1 {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
}

.content-left p,
.content-right p {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}


.ice-price {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
}

.ice-price span {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}

.ice img {
     border-radius: 50%;
}

.ice-item li:hover {
   background-color: #9db1a5;
}

.ice::before {
content: "";
background-image: url("img/hit.svg");
background-repeat: no-repeat;
position: absolute;
width: 61px;
height: 61px;
}

.ice {
position: relative;
}

.describe {
text-align: center;
font-size: 16px;
font-weight:normal;
color:#ffffff;
line-height: 22px;
}

.btn-view {

    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #fefefe;
    background-image: linear-gradient(#f26843, #ee5d3e, #e84d36);
}

.features {

    background-image:url("img/wafer-fon.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    list-style: none;
    border-radius: 20px;

}

.features h2  {

      font-size: 24px;
      font-weight: normal;
      color:#323232;
      line-height: 30px;
}

.features li {

      color: #323232;
      line-height: 22px;
      list-style: none;
}

.blog {

      color:#323232;
      line-height: 23px;

      background-image: url("img/strawberry-fon2.jpg");
      background-repeat: no-repeat;
      border-radius: 12px;
}

.blog span {

      line-height: 22px;
}

.blog .serving {
      font-size: 24px;
      font-weight: bold;
      color:#323232;
      line-height: 30px;
}

.spam {

    line-height: 22px;
    color:#5a5a5a;
}



.footer-menu li {
   list-style: none;
}


.footer-menu a  {

     font-size: 13px;
     font-weight: normal;
     color:#ffffff;
     line-height: 16px;
     text-decoration-color:#9db1a5;

}

.footer-menu li:first-child a {
     font-weight: bold;
}

.copyright {
     font-size: 12px;
     font-weight:normal;
     color:#fefefe;
     line-height: 16px;
}

.delete::before {
     content: "";
     background-image: url("img/del.svg");
     background-repeat: no-repeat;
     background-position: 50% 50%;
     position: absolute;
     width: 18px;
     height: 17px;
}

.feedback-form {
     position: relative;
}

 .breadcrumbs li a  {
     font-size: 14px;
     font-weight: normal;
     color: #ffffff;
     text-decoration: none;
     line-height: 16px;

}

main h2 {
     font-size: 35px;
     font-weight: bold;
     color: #ffffff;
     line-height: 41px;

}

.filter > label {
     font-size: 14px;
     font-weight:normal;
     line-height: 16px;
}

.filter > legend {
     font-size: 14px;
     font-weight:normal;
     line-height: 16px;
}


.sorting {
     font-size: 16px;
     line-height: 18px;
     color: #ffffff;
     font-weight: normal;
     background-color: #9db1a5;
     border-radius: 20px;
}

.sorting:hover {
     color: #323232;
  }

.btn-filter {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;

    border: 3px solid #f6f8f7;
    border-radius: 20px;
    background-color: #a6b7ae;
    text-decoration: none;
    color: #ffffff;
}

.btn-filter:hover {
    background-color:#fbfcfb;
    color: #323232;
}

.btn-filter:active {
    background-color:#eaeaea;
    color: #323232;
}

.paginator .current {
      color:#323232;
      border-radius: 50%;
      background-color: #ffffff;

}

.paginator a {

      width: 25px;
      height: 25px;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;

    }

.paginator {
        height: 25px;
        line-height: 25px;
    }

.paginator a:hover:not(:first-child):not(:last-child):not(.current) {
      background-color: #9db1a5;
      border-radius: 50%;
}

.paginator a:active {
      background-color: #ffffff;
      color:#323232;
      border-radius: 50%;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 1px;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}



#btn-1:checked ~ .slider-inner .slide-field {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slide-field {
    transform: translate(-1045px);
}

#btn-3:checked ~ .slider-inner .slide-field {
    transform: translate(-2090px);
}


.btn-view {
    display:none;

}

.ice:hover .btn-view {
display: inline-block;
}

.ice-item {
  display: flex;
  flex-wrap: wrap;

}

.describe {
  display:block;
}

.ice {
  display: block;
}
.content {

    display:flex;
 }


.features {
    position: relative;
}

li.ice-logo::before {
    content: "";
    background-image: url("img/ice-logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 20px;
    top:  130px;
    margin-left: 20px;
    margin-right: 8px;

}

.leave-logo::before {
    content: "";
    background-image: url("img/leave-logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 49px;
    height: 49px;
 }

.cow-logo::before {
    content: "";
    background-image: url("img/cow-logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 49px;
    height: 49px;
    }

.term-logo::before {
    content: "";
    background-image: url("img/termo-logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 49px;
    height: 49px;
    }


    .delete::after {
    content="";
    background-image:url("img/del.png");
    }


    .head, header .conteiner {

        display: flex;
        flex-wrap: wrap;
        justify-content:flex-end;

    }
.main-menu {
    margin-right: auto;

}


.navigation .sub-menu {
   display: block;
}

.navigation ul {

  padding-top: 14px;
  padding-left: 25px;

}

.user a {
    display: inline-block;
}

.slider-btn {
     padding: 17px 40px;
}

.conteiner {
     padding: 40px 27px;
}

.btn.wish {
    display: inline-block;
    padding: 15px 22px 16px 22px;
}

.blog h2 {
    width: 330px;
    margin-right: 55px;

}


.post-border {
    background-color: #f8f7f4;
    width:548px;
    border-radius:12px;
    height: 210px;
    box-sizing: border-box;
    padding:28px 25px 33px 20px;
}


.email-spam {

    background-image:url("img/bg-post.svg");
    width:560px;
    border-radius:12px;
    height: 220px;
    padding:5px;
}






p.spam {
    margin:0;
    padding:0;
    margin-bottom: 38px;

}

.btn-spam {
    display: inline-block;
    margin-left: 10px;
    color: #fefefe;
}

.blog {
background-image:url("img/strawberry-fon2.jpg");
min-height:220px;
width:560px;
border-radius:12px 12px;
padding:32px 20px 10px 20px;
box-sizing: border-box;
margin-right:13px;
margin-bottom:40px;

}

.social-btn {
display:inline-block;
list-style: none;
}

.social-btn a {
  position: absolute;
}

.social-tw::before {
  content: "";
  background-image: url("img/twitter.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top:0;
  left:0;
  z-index: 2;
}

.social-tw {
  top:-2px;
  left:-2px;
}

.social-insta::before{
  content: "";
  background-image: url("img/instagram.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top:0px;
  left:50px;
}

.social-insta {
  top:0px;
  left:50px;

}


.social-fb::before{
  content: "";
  background-image: url("img/fb.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top:0px;
  left:100px;
}

.social-fb {
  top:0px;
  left:100px;

}

.social-vk::before{
  content: "";
  background-image: url("img/vk.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top:0px;
  left:150px;
}

.social-vk {
top:0px;
left:150px;
}


.svg-social {
  stroke: #ffffff;
  stroke-width: 3px;
  stroke-opacity: 0.5;
  position:absolute;
  z-index: 5;
}

.svg-circle:active {

  stroke:#ffffff;
  stroke-opacity: 0.5;
  fill-opacity: 1;
}

.svg-circle:hover {

stroke:#ffffff;
stroke-opacity: 0.7;
fill:#e9e9e9;
fill-opacity: 0.8;
}



.svg-tw {
  top:-4.5px;
  left:-4.5px;
}

.svg-insta {
  top:-4.5px;
  left: 45.5px;
}

.svg-fb {
  top:-4.5px;
  left:95.5px;
}

.svg-vk {
  top:-4.5px;
  left:145px;
}
.social-btn {
  position: relative;

}


footer .conteiner {
  display: flex;
}

.social-btn {
display: inline-block;
margin: 0 auto;
}

.copyright {
  display: block;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form {
    width: 341px;
    height: 84px;
    background-color: #f8f7f4;
}
