@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium-webfont.woff2') format('woff2'),
         url('roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    margin:0;
    padding: 0;
    background-color: #849d8f;
    font-family: "Roboto", Tahoma, sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
    line-height: 1.5;
}

a {
    color:#ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {
  min-width: 900px;
  background-color: #849d8f;
  background-image: url("img/ice%201.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-color 0.4s ease, background-image 0.4s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/ice%202.png");
}

.site-wrapper::after {
  background-image: url("img/ice%203.png");
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 27px 0px 27px;
}

.slider {
  position: relative;
  padding-top: 362px;
  text-align: center;
  color: #ffffff;
}

.slider-field {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-ice {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color:inherit;
}

.slider-btn {
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  display: inline-block;
  padding: 12px 40px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 10;
  font-size: 0;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("img/ice%201.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("img/ice%202.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("img/ice%203.png");
}

.slider-controls label:hover {

    background-color: #b2c1b7;
    border: 3px solid #fdfdfc;

}

.slider-controls label:active  {

    background-color: #ffffff;
  }

.btn {
    padding: 10px 24px 14px 21px;
    margin-bottom: 22px;
    min-height: 45px;
}

.general:hover,
.general:active {
   color:#ffbc9e;
 }

.navigation a {

    font-size: 16px;
    font-weight:bold;
    color:inherit;
    line-height:18px;
    text-decoration-color:#a5bcb0;
  }

.sub-menu li:first-child a {
     font-size: 14px;
     font-weight:bold;
     color: #000000;
     padding-bottom: 11px;
     padding-top: 12px;
}

.sub-menu li:first-child {
     border-bottom: 1px solid #d1d0ce;
}

.sub-menu li a {
  display:block;
}
.navigation li {
  list-style: none;
  padding: 3px 0px 0px 7px;
}

.navigation li a {
  padding: 7px 14px 8px;
  display: block;
}

.navigation > li:hover{

    background-color: #f8f7f4;
    border-radius: 20px 20px;
    color:#333333;
}

.navigation > li:hover a {
  text-decoration: none;
}

.navigation li:hover .sub-menu {
  display: block;
  z-index: 20;
}
.navigation .sub-menu {
       background-color: #f8f7f4;

}

.sub-menu li:hover:not(.current) {
       background-color: #fbded7;
}

.sub-menu li:active:not(.current) {
       background-color: #f6b5a5;
}

.sub-meni li a {
  display: block;
}

.catalog.current, .current {
       background-color: #d07058;
       color: #ffffff;
}

.catalog.current {
  border-radius: 20px;
}

.sub-menu a {

       color: #000000;
       text-decoration: none;
       font-size: 14px;
       font-weight: normal;
       line-height: 16px;
}

.catalog-header {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}


.enter-wrap {
display: flex;
justify-content: space-between;
}

.user-remember a {

        font-size: 13px;
        font-weight: normal;
        color: #323232;
        line-height: 24px;
        padding-left: 9px;
}

.user-remember a:hover,
.user-remember a:active,
a.serving:hover,
a.serving:active {
  color:#e84d37
}

.user-remember {
  padding-left: 10px;

}

.user-block {
        background-color: #fefefe;
        width: 277px;
        border-radius: 5px;
        box-shadow: 2px 4px 2px 4px (0,0,0,0.2);
}

.basket-form {
       background-color:#f8f7f4;
       width: 539px;
       min-height: 245px;
       padding: 20px 15px;
       border-radius: 7px;
       display: none;
}

.basket-form table {
  position: relative;
  min-height: 112px;
  margin-bottom: 25px;
}

.basket-form table td {
       font-size: 13px;
       font-weight:normal;
       color:#323232;
       line-height: 16px;
       vertical-align: middle;
}

.basket-form table {
  border-bottom: 2px solid #cacac7;
}

.basket-form-del {
  width: 27px;
}
.basket-form-img{
  width: 46px;
  padding-bottom: 20px;
}


.basket-form-name {
  width: 248px;
  padding-bottom: 30px;
}

.basket-form-price {
  width: 124px;
}

.basket-form-price .price {
  color:#999999;
}

.basket-form-sum {
  width: 73px;
}

.basket-amount {
       font-size: 15px;
       font-weight: bold;
       line-height: 18px;
       color:#323232;
       text-align: right;
       display: block;
}

.basket-price {
  color:#ffffff;
}

.btn-user {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    line-height: 16px;

}

.btn-user.login {

    background-color: #a1b4a9;
    border-radius: 30px;

    background-image: url("img/enter.svg");
    background-size: 20px 19px;
    background-position: 20% 48%;
    background-repeat: no-repeat;
 }

.btn-user.basket {
    font-weight: 500;
    background-color: #abc1b5;
    border-radius: 30px;
    background-image: url("img/basket.svg");
    background-position: 15% 49%;
    background-repeat: no-repeat;
    background-size: 21px 20px;
}

.btn-user.search {
    background-color:#a1b5aa;
    border-radius: 50% 50%;

    background-image: url("img/loupe.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:17px 17px;
}

.btn-user:hover {
    background-color:#f8f7f4;
    color:#323232;
}

.btn-user.basket:hover {
    font-weight: 500;
    background-color:#f7f6f3;
    background-image: url("img/basket-red.svg");
    background-position: 15% 49%;
    background-repeat: no-repeat;
    background-size: 21px 20px;
    top: 6px;
    left: 5px;


}

.btn-user.search:hover {
    background-image: url("img/loupa-hover.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:17px 17px;

}

.btn-user.login:hover  {
  font-weight: 500;
  background-image: url("img/enter-hover.png");
  background-size: 20px 19px;
  background-position: 20% 48%;
  background-repeat: no-repeat;
}

.search-form {
     background-color: #f8f7f4;
     width: 341px;
     border-radius: 7px;
}

input [type="text"],
input [type="password"],
input [type="email"] {
    color: #999999;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

.spam-field {
     font-size: 16px;
     font-weight: normal;
     color: #999999;
     line-height: 24px;
     border-radius: 5px 5px;
     width: 368px;
     border: 1px solid #d3d3d2;
     padding-top: 7px;
     padding-left: 13px;
     padding-bottom: 7px;
}

.feedback-field {
     font-size: 16px;
     font-weight: bold;
     color: #323232;
     background-color: #ffffff;
     line-height: 24px;
     border-radius: 5px;
     width: 268px;
     border: 1px solid #d3d3d2;
     padding-left: 13px;
     padding-top: 9px;
     padding-bottom: 9px;
     margin-top: 18px;
}

.feedback-form {
    font-size: 24px;
    font-weight: 500;
    color: #323232;
    background-color: #f8f7f4;
    line-height: 28px;
    border-radius: 12px;
    width: 477px;
    padding: 17px 24px 20px 24px;
}

.feedback-form .btn {
  margin-left: 284px;
}

.feedback-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.feedback-field.textarea {
  resize: vertical;
  min-height: 153px;
  width: 423px;
  margin: 18px auto 24px;
  border: 1px solid #d3d3d2;
}

.feedback-field::placeholder {
     font-weight: normal;
     color: #999999;
}

.feedback-field:hover {
    border: 3px solid #c7c6c5;
}

.feedback-field:focus {
    border: 3px solid #8fbdec;
}

.main-adress{
    font-size: 14px;
    font-weight:normal;
    line-height: 20px;
    color: #323232;
    background-color: #fdfefe;
    width: 302px;
    min-height: 304px;
    padding: 30px 26px;
    border-radius: 15px;
}
.main-adress b {

    font-size: 18px;
    font-weight:bold;
    color: #323232;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 5px;
    display: inline-block;
}

.phone {
    display: inline-block;
    font-size: 18px;
    font-weight:bold;
    color: #323232;
    line-height: 24px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 4px;
}

.btn {

    font-size: 18px;
    font-weight:bold;
    line-height: 24px;
    background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    text-decoration: none;
    color:#ffffff;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 30px;
    padding: 8px 24px 8px 21px;

}

.btn-feedback {
    color:#ffffff;
    display: inline-block;
    padding: 11px 26px;
    margin-top: 24px;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color:#fceeec;
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color:#fceeec;
}

.logo-contact {
      display: block;
      margin-right: 46px;
      margin-top: 3px;
      font-size: 14px;
      font-weight:bold;
      color:inherit;
      line-height: 16px;
      text-align:right;
}

.logo-contact a {

      font-size: 22px;
      font-weight:bold;
      color:inherit;
      line-height: 24px;
}

.logo-contact {

}
.logo-conteiner {
  position: relative;
}


.content-left {
    background-image: url("img/raspberry-fon.jpg");
    background-repeat: no-repeat;
    background-color: #970118;
    border-radius: 15px;
    width: 560px;
    margin: 0px 26px 0px 0px;
    padding: 0;
    padding-top: 15px;
    padding-left: 20px;
    min-height: 230px;
}

.content-right {
    width: 560px;
    background-image: url("img/choco-fon.jpg");
    background-repeat: no-repeat;
    background-color: #180602;
    border-radius: 15px;
    margin: 0px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 230px;
}

.content h2,
.main h1 {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}

.content-left p,
.content-right p {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 0;
    width: 539px;
    margin-bottom: 46px;
}


.ice-price {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
}

.ice p {
  margin: 0;
  padding: 0;
}

.ice-price span {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}

.ice img {
     border-radius: 50%;
     margin-bottom: 7px;
}

.ice::after {
  content: "";
   background-color: #ffffff;
   border-radius: 5px;

   opacity: 0;

   z-index: -6;
}

.ice:hover::after {
   position: absolute;
   top: -7px;
   left: -13px;
   right: -13px;
   bottom: -46px;
   opacity: 0.2;
z-index: -1;
}

.ice.index::before {
content: "";
background-image: url("img/hit.svg");
background-repeat: no-repeat;
position: absolute;
width: 61px;
height: 61px;
}

.ice {
position: relative;
width: 267px;

}


.describe {
text-align: center;
font-size: 16px;
font-weight: 500;
color:#ffffff;
line-height: 22px;
margin-bottom: 39px;
text-decoration-color: #9db1a5;
width: 260px;
padding-left: 5px;
}

.btn-view {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 11px 15px 10px 19px;
    color: #fefefe;
    background-image: linear-gradient(#f26843, #ee5d3e, #e84d36);
    bottom:-45px;
    left:30px;
    position: absolute;
    z-index: 3;
}

.features {

    background-image:url("img/wafer-fon.jpg");
    background-repeat: repeat;
    background-position: 50% 50%;
    background-color: #ede1c8;
    list-style: none;
    border-radius: 20px;
    padding: 25px 20px 0px 20px;
    margin: 0;
    min-height: 308px;
    width: 1146px;
    margin-bottom: 40px;
}

.leave-logo {
  order: 2;
}

.cow-logo {
  order: 1;
}

.term-logo {
  order: 3;
}

.features h2  {
      font-size: 24px;
      font-weight: 500;
      color:#323232;
      line-height: 30px;
      padding: 0;
      margin: 0;
      margin-bottom: 26px;
}

.features li {
      color: #323232;
      line-height: 22px;
      list-style: none;
      width: 480px;
      margin-bottom: 22px;
}

.feature-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 57px;
  margin-top: 0;

}

.ice-logo, .leave-logo {
  margin-right: 85px;
}

.news {
  margin-bottom: 40px;
  padding-top: 3px;

}
.blog {
      color:#323232;
      line-height: 23px;
      margin: 0;
      margin-right: 26px;

      background-image: url("img/strawberry-fon2.jpg");
      background-repeat: no-repeat;
      border-radius: 12px;
}

.blog span {
      font-weight: 500;
      line-height: 22px;
}

.blog .serving {
      font-size: 24px;
      font-weight: bold;
      color:#323232;
      line-height: 30px;
      width: 382px;
}

.spam {

    line-height: 22px;
    color:#5a5a5a;
}



.footer-menu li {
   list-style: none;
   display: block;
}

.footer-supplier {
  padding:0;
  margin: 0;
  margin-right: 27px;
}

.footer-supplier::before {
  content: "";
  background-image: url("img/heart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  position: absolute;
  top:22px;
  left:-22px;
}

.footer-industry {
  margin-right: 27px;
}

.footer-menu {
  position: relative;
}

.footer-doc {

}

.footer-eco {

}

.footer-menu a  {

     font-size: 13px;
     font-weight: normal;
     color:#ffffff;
     line-height: 16px;
     text-decoration-color:#9db1a5;

}

.footer-menu li:first-child a {
     font-weight: bold;
}

.copyright {
     font-size: 12px;
     font-weight:normal;
     color:#fefefe;
     line-height: 16px;
}

.basket-form-del::before {
     content: "";
     background-image: url("img/del1.svg");
     background-repeat: no-repeat;
     background-position: 50% 50%;
     position: absolute;
     width: 18px;
     height: 17px;
     top:0px;
     left:5px;
}

.basket-form-delete::after {
     content: "";
     background-image: url("img/del1.svg");
     background-repeat: no-repeat;
     background-position: 50% 50%;
     position: absolute;
     width: 18px;
     height: 17px;
     top:0px;
     left:5px;
     font-size:0;
}

.delete {

  width: 20px;
  height: 19px;
  border:none;
  background-color: transparent;
  top: -5px;
  right: -5px;
}

.btn-basket {
  display: block;
  margin-left:340px;
  padding: 12px 10px 12px 17px;
}

.btn-basket a {
  text-decoration: none;
}

 .breadcrumbs li a  {
     font-size: 14px;
     font-weight: normal;
     color: #ffffff;
     text-decoration-color: #a5bcb0;
     line-height: 16px;
}

.breadcrumbs li {
  display: block;
  margin-right: 21px;
}

.breadcrumbs .catalog-current {
  text-decoration: none;
}


.breadcrumbs {
  display: flex;
  justify-content: flex-start;
}

.filter > label {
     font-size: 14px;
     font-weight: 500;
     line-height: 16px;
}

.filter > legend {
     font-size: 14px;
     font-weight:500;
     line-height: 16px;
     padding:8px;
}


.sorting {
     font-size: 16px;
     line-height: 18px;
     color: #ffffff;
     font-weight: 500;
     background-color: #9db1a5;
     border-radius: 20px;
     padding: 9px 13px 6px 12px;;
}

.sorting:hover {
     color: #323232;
  }

.btn-filter {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;

    border: 2px solid #f6f8f7;
    border-radius: 20px;
    background-color: #a6b7ae;
    text-decoration: none;
    color: #ffffff;
    padding: 7px 27px;
    align-self: center;
}

.btn-filter:hover {
    background-color:#fbfcfb;
    color: #323232;
}

.btn-filter:active {
    background-color:#eaeaea;
    color: #323232;
}

.paginator .current {
      color:#323232;
      border-radius: 50%;
      background-color: #ffffff;

}

.paginator a {
      font-weight: 500;
      line-height: 18px;
      width: 25px;
      height: 25px;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;

    }

.paginator {
        min-height: 25px;
        line-height: 25px;
        text-align: right;
        margin-right: -6px;
    }

.paginator a:hover:not(:first-child):not(:last-child):not(.current) {
      background-color: #9db1a5;
      border-radius: 50%;
}

.paginator a:active {
      background-color: #ffffff;
      color:#323232;
      border-radius: 50%;
}


.btn-view {
    display:none;
}

.ice:hover .btn-view {
  display: block;
  color:#fceeec;
}

.ice:hover {
  z-index: 1;
}

.ice-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 47px;
}

.ice-price {
  position: absolute;
  top: 210px;
  left:0;
}

.describe {
  display:block;
}

.ice {
  display: block;

  position: relative;
}

.item-creame {
  margin-right: 0px;
}

.content {
  display:flex;
  padding-bottom: 25px;
}


.features {
    position: relative;
}

li.ice-logo::before {
    content: "";
    background-image: url("img/ice-logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 20px;
    top:  130px;
    margin-left: 20px;
    margin-right: 8px;
    top: 97px;
    left:0px;
}

.leave-logo::before {
    content: "";
    background-image: url("img/leave-logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 49px;
    height: 49px;
    top: 182px;
    left: 20px;
 }

.cow-logo::before {
    content: "";
    background-image: url("img/cow-logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 49px;
    height: 49px;
    top: 94px;
    left: 584px;
    }

.term-logo::before {
    content: "";
    background-image: url("img/termo-logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 49px;
    height: 49px;
    top:182px;
    left: 584px;
}


.navigation .sub-menu {
   display: none;
}

.navigation ul {
  padding: 0;
  min-width: 144px;
}


.content-left .wish {
  margin-left: 352px;
}

.content-right .wish {
  margin-left: 329px;
}
.blog h2 {
    width: 330px;
    margin-right: 55px;
    margin-top: 5px;
}


.email-spam {

   min-height: 220px;
   width: 560px;
    margin: 0;

    background-image: repeating-linear-gradient(140deg, #92cdff 0px,
      #92cdff 6px, #f8f7f4 6px, #f8f7f4 12px, #fe9e90 12px, #fe9e90 18px,
      #f8f7f4 18px, #f8f7f4 24px);
    border-radius: 20px;
   position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.email-content {
position: absolute;
z-index: 5;
padding-top: 28px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 36px;
}

.post-border::before {
  content: "";
  background-color: #f8f7f4;
  border-radius:12px;
  position: absolute;
  width: 550px;
  min-height: 210px;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
}

p.spam {
    margin:0;
    padding:0;
    margin-bottom: 34px;

}

.btn-spam {
    display: inline-block;
    margin-left: 6px;
    color: #fefefe;
    padding: 9px 12px;
}

.blog {
background-image:url("img/strawberry-fon2.jpg");
min-height:220px;
width:560px;
border-radius:12px 12px;
padding:21px 20px 10px 18px;
box-sizing: border-box;
margin: 0;
margin-right:26px;
}

.social-btn {
  list-style: none;
}

.social-btn a {
  border:4px solid #c2cec7;
  border-radius: 50%;
  display: block;
  padding: 16px;
}

.social-tw::before {
  content: "";
  background-image: url("img/twitter.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top:4px;
  left:4px;
}

.social-tw {
  top:0px;
  left:0px;
}

.social-tw:hover {
  opacity: 1;
}

.social-fb:active {
  opacity: 0.8;
}

.social-insta::before{
  content: "";
  background-image: url("img/instagram.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left: 4px;
}

.social-insta {
  top: 0px;
  left: 0px;
}

.social-insta:hover {
  opacity: 1;
}

.social-fb:active {
  opacity: 0.8;
}

.social-fb::before{
  content: "";
  background-image: url("img/fb.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left: 4px;
}

.social-fb {
  top: 0px;
  left: 0px;
}

.social-fb:hover {
  opacity: 1;
}

.social-fb:active {
  opacity: 0.8;
}

.social-vk::before{
  content: "";
  background-image: url("img/vk.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left: 4px;
}

.social-vk {
top: 0px;
left: 0px;
}

.social-vk:hover {
  opacity: 1;
}

.social-vk:active {
  opacity: 0.8;
}

.social-btn {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  opacity: 0.8;
}

.social-btn ul {
  padding: 0;
}


footer .conteiner{
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.catalog-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.copyright {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
  clip-path: inset(100%);
}

.search-form {
    min-width: 341px;
    min-height: 84px;
    background-color: #f8f7f4;
    padding: 21px 15px 0px 15px;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.logo-contact {
  align-self: flex-end;
  flex-basis: 171px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  vertical-align: baseline;
  align-items: center;
  width: 1146px;
}

.user {
  width: 267px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;

}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  padding-left: 0;
  position: relative;
}

.search:hover .search-form {
  display: block;
  position: absolute;
  z-index: 5;
}

.entrance:hover .user-block {
  display: block;
  position: absolute;
  z-index: 6;
}

.basket-catalog:hover .basket-form {
  display: block;
  position: absolute;
  z-index: 5;
}

.search-form, .user-block {
  display: none;
}

.basket-form {
  position: absolute;
  top:36px;
  right: 0px;
}

.user-block {
    position: absolute;
    top:36px;
    right: 0px;
}

.search-form {
    position: absolute;
    top:36px;
    right: 0px;
}

.basket-catalog, .entrance, .search {
  position: relative;
}

.user-block {
    width:277px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-field, .password-field, .search-form-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;
width: 238px;
padding: 9px 90px 9px 12px;
margin-bottom: 20px;
border:1px solid #d3d3d2;
border-radius:5px;
}

.search-form-text {
  width: 310px;
}


.btn.entrance {
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 24px;
}

.user-block-entrance {
  border:none;
  padding: 20px;
  height: 214px;
}

.navigation > li {
  display: inline-block;
  position:relative;
  vertical-align: baseline;
}

.sub-menu {
  position: absolute;
  display: block;
  top: 32px;
  left: -2px;
  border-radius: 5px;
}

.main-menu a {

  margin-right: 0;
}

.logo {
  display: block;
  width: 154px;
  margin: 0;
}

.btn-user {
  display: inline-block;
  min-height: 32px;
}

.btn-user.search {
  min-width: 32px;
  padding: 7px;
}

.btn-user.login {
min-width: 92px;
padding: 9px 15px 7px 43px;
font-weight: 500;
}

.btn-user.basket {
  min-width: 115px;
  padding: 9px 10px 7px 42px;
}

.sub-menu a {
  display: block;
  padding: 14px 25px 10px
}

.news {
  display: flex;
  justify-content: space-between;
}

.footer-menu ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  height: 60px;
}

.item {
  margin-bottom: 20px;
}
.copyright {
  width: 191px;
}

.filter {
  border:none;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.fat {
  display: inline-block;
  vertical-align: baseline;
  background-color: #a9bab0;
  border-radius: 20px;
  padding: 4px 13px 5px 4px;
  width: 419px;
}

.fat-radio {
  position: relative;
}

.fat-radio::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #aabcb2;
  border-radius: 50%;
  border: 4px solid #ffffff;
  opacity: 0.8;
  margin: 0 10px;
  box-sizing: content-box;
}

.fat-radio::before:hover {
  opacity: 1;
}

.fat-hidden:checked ~ .fat-radio::before{
  content: "";
  background-image: url("img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.8;
  border: none;
  width: 22px;
  height: 22px;

}

.filler {
  display: inline-block;
  vertical-align: baseline;
  background-color: #a9bab0;
  border-radius: 20px;
  padding: 6px 13px 7px 15px;
  width: 704px;
}

.filler-checkbox::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #e6ebe9;
  border-radius: 3px;
  opacity: 0.8;
}


.filler-hidden:checked ~ .filler-checkbox::before{
  content: "";
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.8;
  border: none;
  width: 27px;
  height: 27px;
}
